<section class="login-section">
  <h1 class="sr-only">Faça login na sua conta NextGym</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    
    <div class="input-group">
      <label for="email">E-mail</label>
      <input 
        type="email" 
        id="email" 
        formControlName="email" 
        placeholder="seu@email.com"
        [attr.aria-invalid]="emailControl?.invalid && emailControl?.touched ? true : null"
        aria-describedby="email-error"
      >
      <span *ngIf="emailControl?.invalid && emailControl?.touched" id="email-error" class="error-message">
        <span *ngIf="emailControl?.errors?.['required']">O e-mail é obrigatório.</span>
        <span *ngIf="emailControl?.errors?.['email']">Digite um e-mail válido.</span>
      </span>
    </div>

    <div class="input-group">
      <label for="password">Senha</label>
      <input 
        type="password" 
        id="password" 
        formControlName="password" 
        placeholder="********"
        [attr.aria-invalid]="passwordControl?.invalid && passwordControl?.touched ? true : null"
        aria-describedby="password-error"
      >

      <span   *ngIf="passwordControl?.invalid && passwordControl?.touched" id="password-error" class="error-message">
        <span *ngIf="passwordControl?.errors?.['required']">A senha é obrigatória.</span>
        <span *ngIf="passwordControl?.errors?.['minlength']">A senha deve ter pelo menos 6 caracteres.</span>
      </span>
    </div>

    <button type="submit" class="btn-primary">Entrar</button>

    <div class="forgot-password-container">
      <a routerLink="/auth/recuperar-senha" class="forgot-password-link">Esqueceu sua senha?</a>
    </div>
    
    <div class="register-container">
      <p>Ainda não tem conta? 
        <a routerLink="/auth/cadastro" class="register-link">Cadastre-se aqui</a>
      </p>
    </div>

  </form>
</section>